body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    padding-top: 56px;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  
  
  /* Change these colors */
  /* .brand-main {
    background-color: #17a2b8 }
    /* <strike>Main Background Color </strike>*/
  